:root {
    --main-bg1: #0a3d0a;
    --main-bg2: #1b5e1b;
    --window-bg: #0b250b;
    --accent: #4caf50;
    --foreground: #e0e0e0;
    --tile-bg: #1e1e1e;
    --ink-black: #020402ff;
    --wisteria: #a8d5a8ff;
    --orchid-mist: #7fbf7fff;
    --soft-periwinkle: #66c266ff;
    --prussian-blue: #2b5d2bff;
  
}

* {
    font-family: Roboto;
}

html {
    height: 100%;
}

body {
    background-color: #071707;
    color: var(--foreground);
}

li {
    padding: 3px;
}

ul {
    button {
        margin-right: 10px;
        height: 50px;
    }
}

button {
    background-color: var(--foreground);
    color: var(--ink-black)
}

#refresh-board,
#logout {
    display: none;
}

#login-form {
    button {
        margin-top: 10px;
    }
}



#mainBoard {
  display: grid;
  width: min(95vw, 80vh);
  aspect-ratio: 1 / 1;
  padding: 4px;
  grid-template-columns: repeat(6, minmax(0px, 1fr));
  flex-wrap: wrap;
}

.tile {
  aspect-ratio: 1;
  display: flex;
  position: relative;
  border: 1px solid var(--accent);
  overflow-y: scroll;
  overflow-x: hidden;
  color: var(--foreground);
/*   font-size:calc(1vw);
 */    /*   font-size: clamp(16px, calc(20px + (36–20) * (100vw - 768px)/(1920–768)), 48px);
 */  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.1s ease;
  z-index: 0;
  background-color: var(--window-bg);
  padding: 10%;
}

/* #tile-13 {
  background-color: #79046d;
  .fuse-overlay {
    display: none;
  }
}
 */
 
.tile:hover {
  transform: scale(1.1);
  z-index: 10;
  border: 3px solid var(--foreground);
}

.tile[status="true"] {
  background-color: var(--prussian-blue);
  transition-duration: 0.1s;
}

/* Portrait */
@media screen and (orientation:portrait) {
  .tile {
    font-size: 2.1vw;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none
  }
  dialog {
    width: 70vw;
    font-size: 14px;
  }
  .main {
    margin: 0px;
  }
  #info-dialog {
    p {
      margin: -5px
    }
  }
}

/* Landscape */
@media screen and (orientation:landscape) {
  .tile {
    font-size: clamp(16px, 1.5vh, 0px);
  }
  .mobile {
    display: none;
  }
  #info-dialog {
    width: 40vw;
    font-size: clamp(18px, 2.4vh, 60px);
  }
}